<log4net>
  <level>
    <name value="REQUEST"/>
    <value value="66000"/>
  </level>
  <level>
    <name value="RESPONSE"/>
    <value value="67000"/>
  </level>
  <level>
    <name value="AUTH"/>
    <value value="68000"/>
  </level>
  <level>
    <name value="INVALIDMODEL"/>
    <value value="69000"/>
  </level>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="D:\Home\LogFiles\Log4Net\wooliesx\"/>
    <datePattern value="'api.wooliesx-'yyyy-MM-dd'.txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger --- %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="WARN"/>
    </filter>
  </appender>
  <appender name="RollingLogFileErrorAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="D:\Home\LogFiles\Log4Net\wooliesx\"/>
    <datePattern value="'api.wooliesx-errors-'yyyy-MM-dd'.txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger --- %message%newline%property{modelerrors}%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INVALIDMODEL"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  <appender name="RollingLogFileRequestAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="D:\Home\LogFiles\Log4Net\wooliesx\"/>
    <datePattern value="'api.wooliesx-requests-'yyyy-MM-dd'.txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger --- %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="REQUEST"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <appender name="RollingLogFileResponseAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="D:\Home\LogFiles\Log4Net\wooliesx\"/>
    <datePattern value="'api.wooliesx-responses-'yyyy-MM-dd'.txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger --- %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="RESPONSE"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <appender name="RollingLogFileAuthAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="D:\Home\LogFiles\Log4Net\wooliesx\"/>
    <datePattern value="'api.wooliesx-auth-'yyyy-MM-dd'.txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger --- %message%newline"/>
    </layout>
    <threshold value="AUTH"/>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="AUTH"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="RollingLogFileAppender"/>
    <appender-ref ref="RollingLogFileErrorAppender"/>
    <appender-ref ref="RollingLogFileRequestAppender"/>
    <appender-ref ref="RollingLogFileResponseAppender"/>
    <appender-ref ref="RollingLogFileAuthAppender"/>
  </root>
</log4net>